<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13081808198-8irvqbifqrljcorju6jakac4r64u0ooc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13081808198-8irvqbifqrljcorju6jakac4r64u0ooc</string>
	<key>API_KEY</key>
	<string>AIzaSyDAo0mvTF_62iu2mAWnyEJIV0CdxAsjOtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>13081808198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.TestApp</string>
	<key>PROJECT_ID</key>
	<string>testapp-9d6fd</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-9d6fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13081808198:ios:479b0f1dcaff919d56e947</string>
</dict>
</plist>